@{
  // todo

  string subject = "",
      message = "",
      senderName = "unknown",
      senderMail = "info@unknown.ch",
      senderIp = "000.000.000.000";
  var date = System.DateTime.Now;
}

<h2>Note to designer</h2>

This is a test-file, with which we'll experiment the e-mail templating...
<pre>
@App.Settings.OwnerMessage

From: @senderName &lt;@senderMail&gt;
Date: @date
Subject: @subject
Message:
@message

Sender IP: @senderIp
</pre>