<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" strict="false" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>
