<configuration>    
  <!-- This section configures the behavior of the web application. -->
  <system.web>
    <compilation debug="true" strict="false" targetFramework="4.7.2">
      <!-- The following assembly reference is required for handling HTTP requests. -->
      <!-- This is needed for parts that are in the 2sxc app -->
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
  </system.web>  
</configuration>