@inherits Custom.Hybrid.Razor14
@* TODO: @2DG - always use Kit.Scrub...., not Replace("p", ...) *@
@* TODO: @2DG - try to make it use the FormBuilder *@

@* Sender AcceptTerms *@
@if (Kit.Css.Is("bs3")) {
  <div class="app-mobius5-form-fields form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" name="Terms-@CmsContext.Module.Id" id="Terms-@CmsContext.Module.Id" required data-pristine-required-message="@Resources.LabelRequired">
        @Html.Raw(Kit.Scrub.Only(Resources.TermsLabel, "p"))
      </label>
    </div>
  </div>
} else {
  <div class="app-mobius5-form-fields form-check mb-3">
    <input class="form-check-input" type="checkbox" value="" name="Terms-@CmsContext.Module.Id" id="Terms-@CmsContext.Module.Id" required data-pristine-required-message="@Resources.LabelRequired">
    <label class="form-check-label" for="Terms-@CmsContext.Module.Id">
      @Html.Raw(Kit.Scrub.Only(Resources.TermsLabel, "p"))
    </label>
  </div>
}
