@* Inherit special Base Class which Prepares a lot of commonly used objects *@
@inherits AppCode.Razor.MobiusRazorBase

@using AppCode.Data
@{
  // Initially the key comes from the preset and is encrypted
  // So we must run it through the SecureDataService to verify
  var secureKey = Kit.SecureData.Parse(AllSettings.String("GoogleRecaptcha.SiteKey"));
  var siteKey = secureKey.Value;
  var showWarning = secureKey.IsSecuredBy("preset"); // show warning if it's from the preset
}
<div class="app-mobius6-recaptcha" data-sitekey="@siteKey"></div>
@if (MyUser.IsContentAdmin)
{
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(AppRes.MessageContainsRecaptcha, "p"))
  </div>
}
@if (showWarning)
{
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(AppRes.MessageRecaptchaWarning, "p"))
  </div>
}

<script src="https://www.google.com/recaptcha/api.js?render=@siteKey" async defer @Kit.Page.AssetAttributes()></script>