@inherits Custom.Hybrid.RazorTyped
@using ThisApp.Data
@{
  // Exit if not editor, as this file only adds messages for the editor
  if (!MyUser.IsContentAdmin) {
    return;
  }
  var dynFormConfig = As<DynForm>(MyModel.Item("FormConfig"));
  var appRes = As<AppResources>(App.Resources);
  var appSettings = As<AppSettings>(App.Settings);
}

@* Show mailchimp-not-enabled message *@
@if (!dynFormConfig.Mailchimp) {
  <div class="alert alert-warning">
    @Html.Raw((appRes.MessageEnableMailchimp, scrubHtml: "p"));
  </div>
  return;
}

@if (!appSettings.MailChimpShowWarning) {
  <div class="alert alert-warning">
    @Html.Raw((appRes.MessageContainsMailchimp, scrubHtml: "p"));
  </div>
}


@if (appSettings.MailChimpShowWarning) {
  <div class="alert alert-warning">
     @Html.Raw((appRes.MessageDefaultMailChimpKey, scrubHtml: "p"));
  </div>  
}


