@inherits Custom.Hybrid.RazorPro
@{
  // Exit if not editor, as this file only adds messages for the editor
  if (!MyUser.IsContentAdmin) {
    return;
  }

  var formConfig = MyModel.Item("FormConfig");

}
@* Show mailchimp-not-enabled message *@
@if (!formConfig.Bool("Mailchimp")) {
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(App.Resources.String("MessageEnableMailchimp"), "p"));
  </div>
  return;
}

@if (!App.Settings.Bool("MailChimpShowWarning")) {
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(App.Resources.String("MessageContainsMailchimp"), "p"));
  </div>
}


@if (App.Settings.Bool("MailChimpShowWarning")) {
  <div class="alert alert-warning">
     @Html.Raw(Kit.Scrub.Only(App.Resources.String("MessageDefaultMailChimpKey"), "p"));
  </div>  
}


