@inherits Custom.Hybrid.RazorTyped
@using ThisApp.Data
@{
  // Exit if not editor, as this file only adds messages for the editor
  if (!MyUser.IsContentAdmin) {
    return;
  }

  var formConfig = MyModel.Item("FormConfig");
  var appRes = new AppResources(App.Resources);

}
@* Show mailchimp-not-enabled message *@
@if (!formConfig.Bool("Mailchimp")) {
  <div class="alert alert-warning">
    @Html.Raw((appRes.MessageEnableMailchimp, scrubHtml: "p"));
  </div>
  return;
}

@if (!App.Settings.Bool("MailChimpShowWarning")) {
  <div class="alert alert-warning">
    @Html.Raw((appRes.MessageContainsMailchimp, scrubHtml: "p"));
  </div>
}


@if (App.Settings.Bool("MailChimpShowWarning")) {
  <div class="alert alert-warning">
     @Html.Raw((appRes.MessageDefaultMailChimpKey, scrubHtml: "p"));
  </div>  
}


