@* Inherit special Base Class which Prepares a lot of commonly used objects *@
@inherits ThisApp.Razor.MobiusRazorBase
@using ThisApp.Data

@* Exit if not editor, as this file only adds messages for the editor *@
@if (!MyUser.IsContentAdmin) {
  return;
}

@* Show mailchimp-not-enabled message *@
@if (!FormConfig.Mailchimp)
{
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(AppRes.MessageEnableMailchimp, "p"))
  </div>
  return;
}

@if (!AppSet.MailChimpShowWarning)
{
  <div class="alert alert-warning">
     @Html.Raw(Kit.Scrub.Only(AppRes.MessageContainsMailchimp, "p"))
  </div>
}


@if (AppSet.MailChimpShowWarning)
{
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(AppRes.MessageDefaultMailChimpKey, "p"))
  </div>  
}


