@inherits Custom.Hybrid.Razor14
@using ToSic.Sxc.Data;
@{
  // Exit if not editor, as this file only adds messages for the editor
  if (!Edit.Enabled) {
    return;
  }
  
  ITypedItem formConfig = DynamicModel.FormConfig;
}
@* Show mailchimp-not-enabled message *@
@if (!formConfig.Bool("Mailchimp")) {
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(Resources.MessageEnableMailchimp, "p"));
  </div>
  return;
}

@if (!Settings.MailChimpShowWarning) {
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(Resources.MessageContainsMailchimp, "p"));
  </div>
}


@if (Settings.MailChimpShowWarning) {
  <div class="alert alert-warning">
     @Html.Raw(Kit.Scrub.Only(Resources.MessageDefaultMailChimpKey, "p"));
  </div>  
}


