@inherits Custom.Hybrid.Razor14

@if (Edit.Enabled && Content.Mailchimp && !Settings.MailChimpShowWarning) {
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(MessageContainsMailchimp, "p"));
  </div>
}

@if (Edit.Enabled && !Content.Mailchimp) {
  <div class="alert alert-warning">
    @Html.Raw(Kit.Scrub.Only(MessageEnableMailchimp, "p"));
  </div>
}

@if (Edit.Enabled && Content.Mailchimp && Settings.MailChimpShowWarning) {
  <div class="alert alert-warning">
     @Html.Raw(Kit.Scrub.Only(MessageDefaultMailChimpKey, "p"));
  </div>  
}


