@inherits Custom.Hybrid.Razor14

@* Return directly if we don't have edit permissions *@
@if (!CmsContext.User.IsContentAdmin) {
  return;
}

@* normal toolbar & toolbar to edit registrations of this course - opens the items and filters by this contentblock *@
@{
  object formConfig = DynamicModel.FormConfig;
  var workflowId = DynamicModel.WorkflowId;

  var workflow = AsList(App.Data["Workflow"]).Where(w => w.WorkflowId == workflowId).FirstOrDefault();

  var toolbar = Kit.Toolbar.Default()
    .Settings(show: "always")
    // Show a data-button which filters the submits by this content-type and module
    .Data(workflow.ContentType as string, tweak: b => b.Filter("ModuleId",  CmsContext.Module.Id).Note(Resources.ToolbarViewData))
    // Remove edit and add a new one with custom note
    .Edit("-")
    .Edit(formConfig, tweak: b => b.Note(Resources.ToolbarConfigure));
}
<div @toolbar.For(formConfig)>
  <br>
</div>
