@inherits Custom.Hybrid.RazorTyped

@* Return directly if we don't have edit permissions *@
@if (!MyUser.IsContentAdmin) {
  return;
}

@* normal toolbar & toolbar to edit registrations of this course - opens the items and filters by this contentblock *@
@{
  // Parameters handed in from the calling Razor
  var formConfig = MyModel.Item("FormConfig");

  var workflowId = MyModel.String("WorkflowId");

  var workflow = AsItems(App.Data["Workflow"]).Where(w => w.String("WorkflowId") == workflowId).FirstOrDefault();

  var toolbar = Kit.Toolbar.Default()
    .Settings(show: "always")
    // Show a data-button which filters the submits by this content-type and module
    .Data(workflow.String("ContentType"), tweak: b => b.Filter("ModuleId",  UniqueKey).Note(App.Resources.String("ToolbarViewData")))
    // Remove edit and add a new one with custom note
    .Edit("-")
    .Edit(formConfig, tweak: b => b.Note(App.Resources.String("ToolbarConfigure")))
    .AppResources(tweak: b => b.Color("#15585F").Note(App.Resources.String("ToolbarAppResources")));
}
<div @toolbar.For(formConfig)></div>
