.app-mobius5-wrapper { 
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  label {
    font-weight: normal;
  }

  .pristine-error {
    float: right;
    margin-right: 15px;
    font-size: 16px;
    text-align: right;
    width: 100%;

    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
  }

  .recaptcha { 
    overflow: hidden;
    clear: both;
  }

  .btn-send-mobius5-form {
    float: right;
    padding: 10px 20px;
  }

  textarea { resize: vertical; }
  .form-control.select-control { padding: 6px 7px; }
  .alert { width: 100%; }
}

.app-mobius5-field-required:after {
  content: "   *";
  font-size: 12px; 
  color: #a94442;
  display: inline-block;
  padding: 0 0 0 5px;
  vertical-align: top;
}

.app-mobius5-message { display: none; }


/* this will disable the areas that should be, but not the messages for example */
.app-mobius5-wrapper.disable .app-mobius5-support-disable { 
  pointer-events: none;
  opacity: 0.4;
}

.alert > p { font-size: 16px; }

.grecaptcha-badge { 
  visibility: hidden;
}