.app-mobius6-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  .mobius-group {
    display: none;
    margin-bottom: 15px;
  
    &:nth-child(1) {
      display: flex;
    }

    &.active {
      display: flex;
    }
  }

  label {
    font-weight: normal;
  }

  .pristine-error {
    font-size: 16px;
    text-align: right;
    width: 100%;

    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a94442;
  }

  .recaptcha {
    overflow: hidden;
    clear: both;
  }

  .form-control.select-control {
    padding: 6px 7px;
  }

  textarea.form-control {
    height: auto;
  }
  
  .alert {
    width: 100%;
  }

  .small-infotext {
    font-size: 0.875em;
    opacity: .75;
    margin-top: 2px;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.app-mobius6-field-required:after {
  content: " *";
  font-size: 12px;
  color: #a94442;
  display: inline-block;
  padding: 0 0 0 5px;
  vertical-align: top;
}

.app-mobius6-message {
  display: none;

  p:last-child {
    margin-bottom: 0;
  }
}

/* this will disable the areas that should be, but not the messages for example */
.app-mobius6-wrapper.disable .app-mobius6-support-disable {
  pointer-events: none;
  opacity: 0.4;
}

.alert > p {
  font-size: 16px;
}

.paginate_button {
  padding:  0.375rem 0.75rem;  
  border: 1px solid #dee2e6;
  background-color: #fff;
  color: #0d6efd;
  cursor: pointer;
  &:hover {
    transition: all 0.3s ease-in-out;
    background-color: #e9ecef;
    color: #0d6efd;
  }
}

.previous {
  padding: 0.375rem;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.next {
  padding: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.current {
  background-color: #0d6efd !important;
  color: #fff !important;
}

// Style for the hidden input 
.hiddenInputStyle {
  background: repeating-linear-gradient( 45deg, #dbdff5, #f5f5f5 10px, #ffffff 10px, #b3b5c3 5px );
}