@inherits Custom.Hybrid.RazorTyped

@{
  var siteKeyRaw = AllSettings.String("GoogleRecaptcha.SiteKey");
  var siteKey = Kit.SecureData.Parse(siteKeyRaw).Value;  
}

@if (string.IsNullOrWhiteSpace(siteKey))
{
  <div class="alert alert-warning">
    Missing <code>GoogleRecaptcha.SiteKey</code> in App Settings
  </div>
  return;
}

<script src="https://www.google.com/recaptcha/api.js?render=@siteKey"></script>
