@inherits ToSic.Sxc.Dnn.RazorComponent
@helper Message(Dictionary<string,object> data, ToSic.Sxc.Code.IDynamicCode context)
{
    <!doctype html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style type="text/css">
            body { font-family: Helvetica, sans-serif; }
        </style>
    </head>
    <body>
        <h1>@context.App.Resources.MailOwnerTitle</h1>
        <div>
            @context.App.Resources.MailOwnerContent
        </div>
        @foreach (var item in data)
        {
            <div>
                <strong>@item.Key:</strong> @item.Value                    
            </div>
        }
    </body>
    </html>
}

@functions {
	public string Subject(dynamic data, dynamic context) {
        // create custom code to generate the subject here...
        // or just return the setting configured in the form
        return !String.IsNullOrWhiteSpace(context.Content.OwnerMailSubject)
            ? context.Content.OwnerMailSubject.ToString()
            : context.App.Resources.OwnerMailSubject.ToString();
	}
}

