.app-jqfs-wrapper { 
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    .form-group { overflow:hidden; }
    textarea { resize: vertical; }
    .form-control { background: #ffffff; box-shadow: none; float: right;  }
    .form-control.select-control { padding: 6px 7px; }
    label { float: left; padding-top: 7px; }
    label, .form-control { display: inline-block; vertical-align: top; font-size: 16px; height: 32px; font-weight: normal; }
    .app-jqfs-recaptcha { overflow:hidden;clear:both; }
    .form-group { margin-left:-15px;margin-right:-15px; }
    .help-block { float: right; margin-right: 15PX; font-size: 16px; }
    .app-jqfs-recaptcha { overflow:hidden;clear:both; }
    .form-group { margin-left:-15px;margin-right:-15px; }
    .help-block { float: right; margin-right: 15PX; font-size: 16px; }
}

.app-jqfs-field-required:after { content:"   *"; font-size: 12px; /*color: #c0392b;*/ display: inline-block; padding: 0 0 0 5px; vertical-align: top; }
.app-app-jqfs-message { display: none; }


/* this will disable the areas that should be, but not the messages for example */
.app-jqfs-wrapper.disable .app-jqfs-support-disable { pointer-events: none; opacity: 0.4; }

/* Bootstrap */ 
button.btn { font-size: 14px; border-radius: 0; }
.alert > p { font-size: 16px; }

/* Newsletter styles */ 
#NewsletterSuccessMsg,
#NewsletterFailedMsg,
#FormReminder { display: none; }

#FormReminder { color: #a94442; }