@media all {
    .mobius-wrapper { 
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
    
        label {
            font-weight: normal;
        }
    
        .help-block {
            float: right;
            margin-right: 15px;
            font-size: 16px;
            text-align: right;
            width: 100%;
    
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            color: #a94442;
        }
    
        .mobius-recaptcha { 
            overflow: hidden;
            clear: both;
        }
    
        #sendFormWithApi,
        #subToMc {
            float: right;
            padding: 10px 20px;
        }
    
        textarea { resize: vertical; }
        .form-control.select-control { padding: 6px 7px; }
        .alert { width: 100%; }
    }
    
    .mobius-field-required:after {
        content: "   *";
        font-size: 12px; 
        color: #a94442;
        display: inline-block;
        padding: 0 0 0 5px;
        vertical-align: top;
    }
    
    .mobius-message { display: none; }
    
    
    /* this will disable the areas that should be, but not the messages for example */
    .mobius-wrapper.disable .mobius-support-disable { 
        pointer-events: none;
        opacity: 0.4;
    }
    
    .alert > p { font-size: 16px; }
    
    /* Newsletter styles */ 
    //#NewsletterSuccessMsg,
    //#NewsletterFailedMsg,
    #FormReminder {
        margin-top: 10px;
        display: none; 
        color: #a94442;
    }
    
    #NewsletterSuccessMsg,
    #NewsletterFailedMsg {
        display: none;
    }
}