@inherits Custom.Hybrid.Razor14

@if(Kit.Css.Is("bs3")) {
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" name="GDPR-@CmsContext.Module.Id" id="GDPR-@CmsContext.Module.Id" required data-smk-msg="@Resources.LabelRequired"> @Html.Raw(Resources.GdprLabel.Replace("<p>", "").Replace("</p>", ""))
      </label>
    </div>
  </div>
} else {
  <div class="form-group form-check mb-3">
    <input class="form-check-input" type="checkbox" value="" name="GDPR-@CmsContext.Module.Id" id="GDPR-@CmsContext.Module.Id" required data-smk-msg="@Resources.LabelRequired">
    <label class="form-check-label" for="GDPR-@CmsContext.Module.Id">
      @Html.Raw(Resources.GdprLabel.Replace("<p>", "").Replace("</p>", ""))
    </label>
  </div>
}
