@inherits Custom.Hybrid.Razor12
@{
  var pageCss = GetService<Connect.Koi.ICss>();

  // Initially the key comes from the preset and is encrypted
  // So we must run it through the SecureDataService to verify
  var secData = GetService<ToSic.Sxc.Services.ISecureDataService>();
  var secureKey = secData.Parse(Settings.GoogleRecaptcha.SiteKey);
  var siteKey = secureKey.Value;
  var showWarning = secureKey.IsSecuredBy("preset");  // show warning if it's from the preset
}

<div class="app-mobius5-recaptcha" data-sitekey="@siteKey"></div>
@if(Edit.Enabled) {
  <div class="alert alert-warning">
    @Html.Raw(Resources.MessageContainsRecaptcha.Replace("<p>", "").Replace("</p>", ""))
  </div>
}

@if(showWarning) {
  <div class="alert alert-warning">
    @Html.Raw(Resources.MessageRecaptchaWarning.Replace("<p>", "").Replace("</p>", ""))
  </div>
}

<script src="https://www.google.com/recaptcha/api.js?render=@siteKey" async defer data-enableoptimizations="true"></script>