@inherits Custom.Hybrid.Razor12
@* normal toolbar & toolbar to edit registrations of this course - opens the items and filters by this contentblock *@
@{
  var Content = DynamicModel.Content;
  var WorkflowId = DynamicModel.WorkflowId;

  var workflow = AsList(App.Data["Workflow"]).Where(w => w.WorkflowId == WorkflowId).FirstOrDefault();

  // TODO: @2mh unclear what is up with this file, it mentions "registration of this course" and the toolbar is commented out?
}
<div class="text-right text-end" >
  @* @Edit.Toolbar(Content, toolbar: new [] { 
    "edit&filter:ModuleId=" + CmsContext.Module.Id,
    "contentitems?contentType=" + workflow.ContentType + "&filter:ModuleId=" + CmsContext.Module.Id
  }) *@
  @Edit.Toolbar(Content)
</div>

