@inherits Custom.Hybrid.Razor14

@if(Edit.Enabled && Content.Mailchimp && !Settings.MailChimpShowWarning) {
  <div class="alert alert-warning">
    @Html.Raw(Resources.MessageContainsMailchimp.Replace("<p>", "").Replace("</p>", ""))
  </div>
}

@if(Edit.Enabled && !Content.Mailchimp) {
  <div class="alert alert-warning">
    @Html.Raw(Resources.MessageEnableMailchimp.Replace("<p>", "").Replace("</p>", ""))
  </div>
}

@if (Content.Mailchimp && Settings.MailChimpShowWarning) {
  <div class="alert alert-warning">
    @Html.Raw(Resources.MessageDefaultMailChimpKey.Replace("<p>", "").Replace("</p>", ""))
  </div>  
}


