@inherits Custom.Hybrid.Razor14

@* Sender AcceptTerms *@
<div class="mb-3">
  <div class="row">
    <div class='@(Kit.Css.Is("bs3") ? "col col-xs-1" : "col-1")'>
      <input type="checkbox" id="Terms-@CmsContext.Module.Id" name="Terms-@CmsContext.Module.Id" required data-smk-msg="@Resources.LabelRequired" >
    </div>
    <div class='@(Kit.Css.Is("bs3") ? "col col-xs-11" : "col-11")'>
      <label for="Terms-@CmsContext.Module.Id" class="control-label">@Html.Raw(Resources.TermsLabel)</label>
    </div>
  </div>
</div>