@inherits Custom.Hybrid.Razor12
@* normal toolbar & toolbar to edit registrations of this course - opens the items and filters by this contentblock *@
@{
  var Content = DynamicModel.Content;
  var WorkflowId = DynamicModel.WorkflowId;

  var workflow = AsList(App.Data["Workflow"]).Where(w => w.WorkflowId == WorkflowId).FirstOrDefault();
}
<div class="row justify-content-between">
  <div class="col">
    @Edit.Toolbar(toolbar: new [] { 
      "toolbar=empty&hover=left",
      "contentitems?contentType=" + workflow.ContentType + "&filter:ModuleId=" + CmsContext.Module.Id
    })
  </div>
  <div class="col text-right text-end">
    @Edit.Toolbar(Content)
  </div>
</div>

